<! -- views/index.ejs -->
<!doctype html>
<html lang="en">
<head>
	<%- include ./partials/head.ejs %>
	<style>
		.row {
			margin-top: 10px;
		}
		#page {
			padding-right: 50px;
			padding-left : 50px;
		}
	</style>
</head>

<body>
	
<div class="container-fluid" id="page">
	
	<div class="row">
		<div class="col-xs-6 col-xs-offset-2">
			<input type="text" id="searchBox" name="searchBox" style="width:100%; height:50px;" value="<%= body.city %>, <%= body.region %>">
		</div>
		<div class="col-xs-2">
			<button class="btn btn-large btn-primary" type="button" id="searchButton" style="width:100%; height:50px;">Search</button>
		</div>
	</div>
	
	<div id="results"></div>
	
</div>

<script>
$(document).ready(function() {

	generateRow = function(business) {
		var str = '<div class="row"><div class="col-xs-2"><img class="img-rounded" alt="';
		if(business.img_url) {
			str+=business.name+' image" ';
		} else {
			str+='No image" ';
		}
		str+='style="width:100%" src="';
		if(business.img_url) {
			str+=business.img_url;
		} else {
			str+='null';
		}
		str+='"></div><div class="col-xs-3"><h1>'+business.name+'</h1></div></div>';
		return str;
	}

	$('#searchButton').click(function() {
		$('#results').empty();
		$.post('/api/search', {
			searchData : $('#searchBox').val()
		}, function(res) {
			res.businesses.forEach(function(business) {
				$('#results').append(generateRow(business));
			});
		});
	});
});
</script>
</body>
</html>